.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);

    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
}
body{
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
h1
{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 30px 0;
    font-size: 30px;
    
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    margin-bottom: 50px;
}
.container
{
    width: 60%;
    margin: 10% auto 10%;
}

.card1
{
    background-color: hsl(31, 77%, 52%);
    padding:  5%;
    border-radius: 10px 0 0 10px;
}

.card2
{
    background-color: hsl(184, 100%, 22%);
    padding: 5%;
}

.card3
{
    background-color: hsl(179, 100%, 13%);
    padding: 5%;
    border-radius: 0 10px  10px 0;
}

.btn{
    border-radius: 1.5rem;
}

.btn-primary {
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;   
    font-size: 15px;
}

.btn1
{
    color: hsl(31, 77%, 52%);
}

.btn2
{
    color: hsl(184, 100%, 22%);
}

.btn3
{
    color: hsl(179, 100%, 13%);
}
.btn-primary:hover {
    color: black;
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}
.btn-primary:active
{
    color: black;
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}

@media (max-width:766px) {

    h1 
    {
        margin: 50px 0;
        margin: 15% 10%;
    }
    p 
    {
        margin: 0 10% 25%;
    }
    button 
    {
        margin: 0 10%;
    }
    img 
    {
        margin: 0 10%;
    }
    .card1
{
    border-radius: 10px 10px 0 0;
}
.card3
{
    border-radius: 0 0 10px  10px ;
}
.container
{
    width: 80%;
    margin: 10% auto 30%;
}
}